<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4" *ngFor='let hotel of hotels'>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/toprated1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="hotelsdetails/{{hotel._id}}">{{hotel.name}}</a></h5>
        <p class="card-text">{{hotel.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
</div>
</div>
</div>



<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" (click)='getHotelsByService(offset+6,count)'>
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" (click)='getHotelsByService(0,6)'><a class="page-link" >1</a></li>
    <li class="page-item" (click)='getHotelsByService(6,6)'><a class="page-link" >2</a></li>
    <li class="page-item" (click)='getHotelsByService(12,6)'><a class="page-link">3</a></li>
    <li class="page-item" (click) ='getHotelsByService(offset+6,count)'>
      <a class="page-link"  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>