*{
    text-align: center;
}
h2{
    color: azure;
    text-align: center;
    margin-top: 2% ;
    font-weight: bolder;
}
img{
    margin-left: 50% ;
    transform: translateX(-50%);
    max-width: 300px;
    max-height: 300px ;
    border-radius: 5px ;
    margin-bottom: 2% ;
}
.btn-primary{
    margin-left: 50% ;
    transform: translateX(-50%);
    margin-bottom: 2% ;
    
}
table{
    margin-left: 50% ;
    transform: translateX(-50%);
}
h3{
    color:azure;
    font-size: 150%;
    text-align: center;
}
p{
    margin: 1% 5% 1% 5%;
    color: white;
    text-align: left;
}
strong{
    margin: 5% ;
    text-align: center;
    /* font-size: 125%; */
    color: aliceblue;
}
a{
    color: aliceblue;
    text-decoration: underline;
}
.list-group{
    max-width: 500px;
    text-align: center;
    margin-left: 50% ;
    transform: translateX(-50%);
    margin-bottom: 5%;
}
.roomspara{
float: right;
transform: translateY(-50%);
}
.specialp{
    font-size: 125%;
    margin-top: 5%;
}
.list-group-item-primary{
    text-align: start;
}