<h2>{{hotel.name}}</h2>
<img src="../../../assets/images/toprated1.jpg" alt="image not available">
<button type="button" class="btn btn-primary">BOOK NOW </button>
<h3>Hotel Details</h3>
<p><strong>Description</strong> : {{hotel.description}}</p>
<p><strong>Address  :</strong><a>{{hotel.location[0].address}}</a></p>
<p><strong class="details">Details</strong></p>
<ul class="list-group">
  <li class="list-group-item" *ngFor='let service of hotel.services'>{{service}}</li>
</ul>
  <p><strong> Rooms </strong></p>
<div class="rooms" *ngFor='let room of hotel.rooms'>
  <img src="../../../assets/images/room.jpeg" alt="">
  <button type="button" class="btn btn-primary">BOOK NOW </button>
  <p class="roompara"> <strong>Room Description</strong> : {{room.description}}</p>
  <p class="roompara"> <strong>Room Type </strong>: {{room.type}}</p>
  <p class="roompara"> <strong>Price</strong>: ${{room.price}}</p>
</div>
<p class="specialp"><strong>Reviews</strong></p>
<div *ngFor='let review of hotel.reviews'>
  <li class="list-group-item list-group-item-primary">{{review.name}} : {{review.review}}</li>
</div>
