<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]='hotelname' (keyup)='getHotelsByName()' placeholder="Hotel Name"  aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>
</div>
<div *ngFor='let newhotel of availablehotels' class="list-group">
  <li class="list-group-item">{{newhotel}}</li>
</div>

<div class="container">
  <div class="row">
<div class='col-sm-4 col-md-4 '>
  <div class="card" *ngFor='let hotel of hotels'>
    <img class="card-img-top" src="../../../assets/images/toprated1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{hotel.name}}</h5>
      <p class="card-text">>{{hotel.description}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
</div>