.input-group{
    max-width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
}
.card{
    max-width: 300px;
    margin: 1rem;
    margin-left: 3%;
}
.list-group{
    max-width: 400px;
    margin-left: 50%;
    transform: translateX(-60%) ;
}