

  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" [(ngModel)]='user.email' class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"[(ngModel)]='user.password' class="form-control" placeholder="Password">
          </div>
          <button type="submit" (click)='authorizeUser()' class="btn btn-primary">Submit</button>
        
        
    </div>
  </div>